default:
  JWT_VERIFY_SIGNATURE: True
  IMAP_SERVER:
    host: imap.yandex.ru
    port: 993
    user: gis-robot@***
    password: *****
  SECRET_KEY: jwt_public_key
  DOCVIEWER_API: "http://localhost:5002"
